/*Штрифты*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #c5ecec;
}

.nav {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    margin: 0;
    gap: 177px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
    margin-left: 40px;
    height: 21px;
    list-style-type: none;
}

.nav-link {
    width: 149px;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display: block;
    text-align: center;
    height: 22px; 
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
}
  
.nav-btn {
    width: 167px;
    height: 40px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    box-sizing: border-box;
    border: none;
    cursor: pointer; 
}

.nav-link:hover {
    color: rgb(5, 5, 5);
    transition: 0.3s;
    transition: color 0.5s;
}
  
.nav-btn:hover {
    background-color: #fffb00;
    color: rgb(5, 5, 5);
    transition: 300ms;
}

.content {
    opacity: 0;
    transition: .5s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    display: flex;
    border-radius: 5px;
    border: #05098d solid;
    background-color: #c5ecec;
}

@keyframes show {
    0%{
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.content-left {
    margin-right: 30px;
    border-radius: 5px;
    background-color: rgb(230, 252, 252);
    padding: 20px;
    left: -1000px;
    transition: .5s;
    animation: right 1.2s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
    position: relative;
}

@keyframes right {
    0%{
        right: 0; 
    }
    100% {
        left: 10px;
    }
}

.content-right {
    border-radius: 20px;
    left: 1800px;
    transition: .5s;
    animation: left 1.2s 1;
    animation-fill-mode:inherit;
    animation-delay: 0.5s;
    position: relative;
    display: flex;
}

@keyframes left {
    0%{
        right: 100; 
    }
    100% {
        left: 10px;
    }
}

.my_photo {
    width: 400px;
    height: 550px;
    border-radius: 25px;
}

.desc_title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #68b16f;
    margin-top: 20px;
    text-shadow:  1px 1px 2px rgb(74, 112, 13);
  }

.desc_text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.desc_list {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
}

li {
    padding: 5px;
}