body::after {
    content: "";
    width: 100%;
    background-color: #ffb758;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.18;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

caption {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 25px;
}

table {
    width: 100%;
    margin-left: 15px;
    min-width: 810px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    max-width: 150px;
    word-wrap: break-word;
}

th {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgba(253, 147, 71, 0.4);
}

td {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: rgba(99, 255, 203, 0.4);
}

tr:nth-child(odd) {
    background-color: rgba(149, 255, 42, 0.4);
}

.table-form {
    opacity: 0;
    transition: .5s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    display: flex;
    margin: 0;
    padding: 0;
}

@keyframes show {
    0%{
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.table-box {
    margin: 0;
    padding: 0;
    left: 1800px;
    transition: .5s;
    animation: left 1.5s 1;
    animation-fill-mode:inherit;
    animation-delay: 0.4s;
    position: relative;
    display: flex;
}

@keyframes left {
    0%{
        right: 100px; 
    }
    100% {
        left: 10px;
    }
}


.form-box {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(64, 238, 180, 0.637);
    max-height: 470px;
    position: fixed;
    margin-left: 950px;
    margin-right: 0px;
    opacity: 0;
    transition: .5s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 1.3s;
}

#form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 18px;
    font-weight: 600;
}

input {
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    cursor: pointer;
}

.lb {      
    margin-top: 10px;
    margin-bottom: 30px;
}

.lb_table {      
    margin-top: 5px;
    margin-bottom: 5px;
}

.status {       
    display: none;
}

.status + .lb, .status + .lb::before, .status + .lb::after {
    transition: all .3s;
}

.status + .lb {
    display: inline-block;
    position: relative;
    width: 121px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
}

.status + .lb::before {
    display: block;
    content: attr(data-offlabel);
    position: absolute;
    top: 12px;
    right: 9px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.status + .lb::after {
border-radius: 50%;
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 33px;
    height: 33px;
    background-color: white;          
}

.status:checked +.lb::before {
    content: attr(data-onlabel);
    left: 16px;
    right: auto;
    color: #fff;
}

.status:checked + .lb::after {
    left: 83px;
    background-color: #f7f7f7;
}

.status + .lb {             
    background-color: #ccc;
}
.status:checked + .lb {
    background-color: green;
}

.status:checked + .lb::before {
    color: #fff;
}

.view {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: default;
    pointer-events: none;
}    

    

.sub-btn-link, .cancel-btn, .sub-btn-link-def {
    font-size: 20px; 
    font-family: 'Franklin Gothic Medium', sans-serif; 
    color: rgb(128, 0, 0); 
    text-decoration: none;
    cursor: pointer; 
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #e29ccb;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 3px 3px;
    padding: 5px;
    cursor: pointer;
}
    
.sub-btn-link:hover, .cancel-btn:hover, .sub-btn-link-def:hover {
    color: #d63ceb;
    cursor: pointer;
    transition: .3s;
    transition: color 0.5s;
    background-color: #c0f72a;
}
    

.wrapper-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
}

.submit-btn-red {
    background-color: rgba(255, 1, 1, 0.774);
    margin-left: 20px;
}

.edit-btn {
    color: rgb(12, 88, 24);
    margin-bottom: 7px;
    font-family: 'Franklin Gothic Medium', sans-serif; 
    cursor: pointer;
}

.remove-btn {
    color: rgb(207, 11, 11);
    font-family: 'Franklin Gothic Medium', sans-serif; 
    cursor: pointer;
}

.edit-btn:hover {
    text-decoration: underline;
    opacity: 55%;
}
.cursor {
    cursor: default;
    pointer-events: none;
   }
   
.remove-btn:hover {
    text-decoration: underline;
    opacity: 55%;
}